@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    background-color: #1B1212;
}

.info-container {
    margin-top: 200px;
}

.main-information-container{
background-color: #1B1212;
}

.main-about-title{
    position: relative;
   top: -153px;
   font-size: 2.3rem;
   font-family: "Poppins", sans-serif;
  font-weight: 500;
   font-style: normal;
    color: #FAF9F6;
}

.about-information-container{
    position: relative;
    top: -80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-bc{
    width: 615px;
}

.about-bc-paragraph{
    text-align: left;
    color: #FAF9F6;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.about-image{
    position: relative;
    right: 100px;
}
