@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    background-color: #1B1212;
}

.info-container {
    margin-top: 200px;
}

.main-information-container{
background-color: #1B1212;
}

.main-about-title{
    position: relative;
   top: -153px;
   font-size: 2.3rem;
   font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: #FAF9F6;
}

.about-information-container{
    position: relative;
    top: -80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-bc{
    width: 615px;
}

.about-bc-paragraph{
    text-align: left;
    color: #FAF9F6;
    font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.about-image{
    position: relative;
    right: 100px;
}
